@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/* To hide the ugly scroll-bar from custom places */
.hidebar::-webkit-scrollbar {
	display: none;
}

.hidebar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* To hide the ugly scroll-bar from custom places */

/* To hide the ugly scroll-bar from everywhere */
body::-webkit-scrollbar {
	display: none;
}
/* To hide the ugly scroll-bar from everywhere */

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.b {
  border: 1px solid white;
}
